In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_excel("Online Retail.xlsx")

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.shape

(541909, 8)

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
(df.isnull().sum()/df.shape[0])*100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.268311
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.926694
Country         0.000000
dtype: float64

In [7]:
df = df.dropna(subset=['Description'])

In [8]:
(df.isnull().sum()/df.shape[0])*100

InvoiceNo       0.000000
StockCode       0.000000
Description     0.000000
Quantity        0.000000
InvoiceDate     0.000000
UnitPrice       0.000000
CustomerID     24.724723
Country         0.000000
dtype: float64

In [9]:
df= df.dropna(subset= "CustomerID")

In [10]:
(df.isnull().sum()/df.shape[0])*100

InvoiceNo      0.0
StockCode      0.0
Description    0.0
Quantity       0.0
InvoiceDate    0.0
UnitPrice      0.0
CustomerID     0.0
Country        0.0
dtype: float64

In [11]:
df.shape

(406829, 8)

In [12]:
df['CustomerID'].nunique()

4372

In [13]:
df['InvoiceDate'].max()

Timestamp('2011-12-09 12:50:00')

In [14]:
#Recency = Reference Date - Customer’s Last Purchase Date

In [15]:
reference_date = df['InvoiceDate'].max() + pd.Timedelta(days=1)

In [16]:
reference_date

Timestamp('2011-12-10 12:50:00')

In [17]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [18]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [19]:
rfm = df.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (reference_date - x.max()).days,
    'InvoiceNo': 'nunique',
    'TotalPrice': 'sum'
})

In [20]:
rfm

            InvoiceDate  InvoiceNo  TotalPrice
CustomerID
12346.0             326          2        0.00
12347.0               2          7     4310.00
12348.0              75          4     1797.24
12349.0              19          1     1757.55
12350.0             310          1      334.40
...                 ...        ...         ...
18280.0             278          1      180.60
18281.0             181          1       80.82
18282.0               8          3      176.60
18283.0               4         16     2094.88
18287.0              43          3     1837.28

[4372 rows x 3 columns]

In [21]:
rfm.columns = ['Recency', 'Frequency', 'Monetary']

In [22]:
rfm

            Recency  Frequency  Monetary
CustomerID
12346.0         326          2      0.00
12347.0           2          7   4310.00
12348.0          75          4   1797.24
12349.0          19          1   1757.55
12350.0         310          1    334.40
...             ...        ...       ...
18280.0         278          1    180.60
18281.0         181          1     80.82
18282.0           8          3    176.60
18283.0           4         16   2094.88
18287.0          43          3   1837.28

[4372 rows x 3 columns]

In [23]:
rfm.describe()

           Recency    Frequency       Monetary
count  4372.000000  4372.000000    4372.000000
mean     92.047118     5.075480    1898.459701
std     100.765435     9.338754    8219.345141
min       1.000000     1.000000   -4287.630000
25%      17.000000     1.000000     293.362500
50%      50.000000     3.000000     648.075000
75%     143.000000     5.000000    1611.725000
max     374.000000   248.000000  279489.020000

In [25]:
(rfm["Monetary"]<= 0).sum()

np.int64(50)

In [28]:
#i am removing these 50 customer who have 0 or less monetary because they do not contribute in any way and business dont need them
rfm = rfm[rfm['Monetary'] > 0]
rfm.shape

(4322, 3)

In [ ]:
#next i am building a scoring system(1-5) for R,F,M based on quantile 
#i mean, i will be spliting the customer on the scale form 1 to 5 ok

In [29]:
rfm['R_Score'] = pd.qcut(rfm['Recency'], 
                         q=5, 
                         labels=[5,4,3,2,1])

In [30]:
rfm

            Recency  Frequency  Monetary R_Score
CustomerID
12347.0           2          7   4310.00       5
12348.0          75          4   1797.24       2
12349.0          19          1   1757.55       4
12350.0         310          1    334.40       1
12352.0          36         11   1545.41       3
...             ...        ...       ...     ...
18280.0         278          1    180.60       1
18281.0         181          1     80.82       1
18282.0           8          3    176.60       5
18283.0           4         16   2094.88       5
18287.0          43          3   1837.28       3

[4322 rows x 4 columns]

In [31]:
rfm[['Recency', 'R_Score']].head()

            Recency R_Score
CustomerID
12347.0           2       5
12348.0          75       2
12349.0          19       4
12350.0         310       1
12352.0          36       3

In [32]:
#to see the destribution of score in our data 
rfm['R_Score'].value_counts()

R_Score
5    875
4    864
1    864
3    862
2    857
Name: count, dtype: int64

In [37]:
rfm['F_Score'] = pd.qcut(
    rfm['Frequency'],
    q=5,
    duplicates='drop'
)
rfm['F_Score'] = rfm['F_Score'].cat.codes + 1

In [38]:
rfm['F_Score'].value_counts()

F_Score
1    2086
2     863
4     734
3     639
Name: count, dtype: int64

In [39]:
rfm['M_Score']= pd.qcut(rfm['Monetary'],
                       q=5,
                       labels= [1,2,3,4,5])
rfm['M_Score'].value_counts()

M_Score
1    865
5    865
2    864
3    864
4    864
Name: count, dtype: int64

In [40]:
#now i am adding the R,F,M score to make one string( eg:-555,541 etc)
rfm['RFM_Score'] = (
    rfm['R_Score'].astype(str) +
    rfm['F_Score'].astype(str) +
    rfm['M_Score'].astype(str)
)

In [42]:
rfm[['R_Score','F_Score','M_Score','RFM_Score']].head()

           R_Score  F_Score M_Score RFM_Score
CustomerID
12347.0          5        3       5       535
12348.0          2        2       4       224
12349.0          4        1       4       414
12350.0          1        1       2       112
12352.0          3        4       4       344

In [43]:
rfm["RFM_Score"].nunique()

91

In [45]:
# now i will dividing the customer into diffrent diffrent segment such as loyal , champions, big spender etc
def segment_customer(row):
    if row['R_Score'] >= 4 and row['F_Score'] >= 3 and row['M_Score'] >= 4:
        return 'Champions'
    elif row['F_Score'] >= 3 and row['R_Score'] >= 3:
        return 'Loyal Customers'
    elif row['R_Score'] >= 4 and row['F_Score'] == 2:
        return 'Potential Loyalists'
    elif row['M_Score'] >= 4 and row['F_Score'] <= 2:
        return 'Big Spenders'
    elif row['R_Score'] <= 2 and row['F_Score'] >= 3:
        return 'At Risk'
    elif row['R_Score'] <= 2 and row['F_Score'] <= 2 and row['M_Score'] <= 2:
        return 'Hibernating'
    elif row['R_Score'] == 1 and row['M_Score'] >= 4:
        return 'Lost High Value'
    else:
        return 'Others'

In [46]:
rfm['Segment'] = rfm.apply(segment_customer, axis=1)

In [47]:
rfm['Segment'].value_counts()

Segment
Others                 1220
Hibernating            1003
Champions               871
Big Spenders            371
Potential Loyalists     355
Loyal Customers         317
At Risk                 185
Name: count, dtype: int64

In [48]:
segment_revenue = rfm.groupby('Segment')['Monetary'].sum().sort_values(ascending=False)
segment_revenue

Segment
Champions              5458871.340
Loyal Customers         709315.591
Big Spenders            620118.021
Others                  546953.101
Potential Loyalists     381634.150
At Risk                 356141.580
Hibernating             240261.171
Name: Monetary, dtype: float64

In [49]:
rfm['Recency'].describe()

count    4322.000000
mean       90.343591
std        99.133565
min         1.000000
25%        17.000000
50%        49.500000
75%       138.000000
max       374.000000
Name: Recency, dtype: float64

In [52]:
rfm['Churn'] = (rfm['Recency'] > 90).astype(int)
rfm['Churn'].value_counts()

Churn
0    2907
1    1415
Name: count, dtype: int64

In [54]:
#This will show churn rate per segment.
#This answers:
#Are “Hibernating” really churned?
#Are “Champions” safe?

Is “At Risk” behaving correctly?
churn_by_segment = (rfm.groupby('Segment')['Churn'].mean().sort_values(ascending=False)) *100
churn_by_segment

Segment
Hibernating            89.332004
At Risk                67.027027
Big Spenders           40.161725
Others                 20.163934
Champions               0.000000
Loyal Customers         0.000000
Potential Loyalists     0.000000
Name: Churn, dtype: float64

In [55]:
#If we do nothing, how much revenue do we lose?
revenue_at_risk = rfm[rfm['Churn'] == 1]['Monetary'].sum()
total_revenue = rfm['Monetary'].sum()

revenue_at_risk, total_revenue

(np.float64(848694.6510000001), np.float64(8313294.954))

In [56]:
# so about 10% of revenue is at RISK if we dont do anything ummmmm...

#ok so Out of ₹8.5 lakh at risk,How much belongs to Big Spenders & At Risk segments?
rfm[rfm['Churn'] == 1].groupby('Segment')['Monetary'].sum().sort_values(ascending=False)

Segment
Big Spenders    252454.011
At Risk         225526.000
Hibernating     211074.930
Others          159639.710
Name: Monetary, dtype: float64

In [58]:
# Okk so with this data we have to work on big spender and at risk customer first for more results
rfm.head()
rfm.columns

Index(['Recency', 'Frequency', 'Monetary', 'R_Score', 'F_Score', 'M_Score',
       'RFM_Score', 'Segment', 'Churn'],
      dtype='object')

In [61]:
# Example (adjust variable name to yours)
final_df = rfm.copy()

# Optional: remove unwanted columns
# final_df = final_df[['CustomerID','Recency','Frequency','Monetary',
#                      'R_Score','F_Score','M_Score',
#                      'RFM_Score','Cluster','Segment']]

final_df.head()
final_df = final_df.reset_index()

In [62]:
final_df.to_csv("customer_segmentation_final.csv", index=False)

print("Export completed successfully!")

Export completed successfully!